@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.justify-center{
    justify-content: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

@font-face {
    font-family: "Urbanist";
    src: url("assets/fonts/Urbanist-VariableFont_wght.ttf");
}

.text-shadow{
    text-shadow: 2px 2px 10px #2e2e2e;
}

.roboto-400 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-500 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-700 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-900 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-300 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-100 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
/* .border-separator-radius {
    border-bottom-left-radius: 50% 6%;
    border-bottom-right-radius: 50% 6%;
} */

.hr-wh{
    height: 1px !important;
    width: 91.67% !important;
}